# --- DIGITEC ENV TEMPLATE ---

# App URL
NEXT_PUBLIC_APP_URL=https://digimall.business/

# Cloudflare Turnstile (CAPTCHA)
NEXT_PUBLIC_CLOUDFLARE_TURNSTILE_SITE_KEY=
CLOUDFLARE_TURNSTILE_SECRET_KEY=

# Resend (Email)
RESEND_API_KEY=

# Upstash (Redis)
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

# Sentry (Opcional)
SENTRY_DSN=